<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://sebastiansoler.com/">News</a></li>
			<li><a href="http://sebastiansoler.com/?cat=18">Blog</a></li>
		</ul>
	</nav>
</footer>